#root {
  max-width: 2800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 12px;
}

.page-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60vh;
}

.map-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.toy-agent {
  font-size: 24px;
  color: #007bff;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 17vh;
}

.control-robot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.control-robot button {
  margin: 5px 5px;
  padding: 5px 15px;
  flex-grow: 1;
  width: 100%;
}

.set-robot button {
  margin: 5px 5px;
  padding: 5px 15px;
  flex-grow: 1;
  width: 100%;
}

.set-robot {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.set-robot input {
  margin-right: 10px;
  flex-grow: 1;
}

.report-position {
  display: flex;
  align-items: center;
}

.report-position input {
  margin-left: 10px;
}

.report-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.report-message p {
  margin: 0;
  font-family: monospace;
}
